.card {
    background-color: rgb(35, 140, 201);
    border: thick solid rgb(35, 140, 201);
}

.list-group-item {
    background-color: rgb(79, 177, 235);
}

#editBtn, #removeBtn {
    width: 100px;
    font-weight: bold;
    margin-top: 10px !important;
}